= Service.title
'
| Version: #{Forests::Application::Version}
'
| Copyright &copy; 2010-2012 Presented by #{link_to Service.provider, Service.provider_url}, Developed by #{link_to Service.developer, Service.developer_url}
